.panel,
.alert,
.boxes {
  font-weight: bold;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.header {
  text-align: left;
}
.alert,
.panel {
  text-align: left;
  margin-top: 5px;
}
.panel-hud {
  font-weight: bold;
  color: #000;
}

.hud-btn {
  min-width: 110px;
}
h6 {
  margin-left: 5px;
  margin-top: 13px;
  font-family: sans-serif;
  text-align: left;
  line-height: 5px;
}
/* Research Bars */
.progress-bar {
  width: 100%;
  height: 1.3em;
  color: #000;
}
.progress-wrap {
  background: #d9534f;
  overflow: hidden;
  position: relative;
}
.researchProgress,
.researchingComment {
  line-height: 39px;
  color: #fff;
}
.info {
  overflow: hidden;
  max-height: 200px;
}
.info p {
  text-align: left;
}
.well {
  padding-top: 0;
}
.btn {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 5px;
}
.btn-group .btn {
  min-width: 18em;
}

.btn-warning {
  color: #333;
}
.resource-counters {
  text-align: center;
  color: #000;
}
.resource-counters div first-of-type(.btn){
  border-right: 2px solid #000;
}
.iron {
  background-color: #b8860b;
  text-align: center;
}
.copper {
  background-color: #9F6D55;
  text-align: center;
}
.silver {
  background-color: #c0c0c0;
  text-align: center;
}
.gold {
  background-color: #ffd700;
}
.hudList {
  display: inline;
  list-style-type: none;
  text-align: justify;
}
.hudNav li {
  margin-right: 4px;
}
.squeeze {
  padding-right: 0;
  padding-left: 0;
}
