.panel,
.alert,
.boxes {
  font-weight: bold;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.header {
    text-align: center;
}
.alert,
.panel {
  text-align: left;
  margin-top: 5px;
}
.panel-hud {
  font-weight: bold;
  color: #000;
}
h6 {
  margin-left: 5px;
  margin-top: 13px;
  font-family: sans-serif;
  text-align: left;
  line-height: 5px;
}
/* Research Bars */
.progress-bar {
  width: 100%;
  height: 1.3em;
  color: #000;
}
.progress-wrap {
  background: #d9534f;
  overflow: hidden;
  position: relative;
}
.researchProgress,
.researchingComment {
  line-height: 39px;
  color: #fff;
}
.info {
  overflow: hidden;
  max-height: 200px;
}
.info p {
  text-align: left;
}
.well {
  padding-top: 0;
}
.btn {
    webkit-border-radius: 8px;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 5px;
}

.hud-btn {
    min-width: 110px;
}

.hudList {
    display: inline;
    list-style-type: none;
    text-align: justify;
}

.modal-footer button {
    margin-left: 5em;
}

/***********************/
/*    Helpers         */
/*********************/
.justify {
    min-width: 100%;
    max-width: 100%;
}

/***********************/
/*    Colors         */
/*********************/
.iron {
    background-color: #888;
    color: #000;
}
.copper {
    background-color: #9f6d55;
    color: #000;
}
.silver {
  background-color: #c0c0c0;
    color: #000;
}
.gold {
  background-color: #ffd700;
    color: #000;
}

.dimgray {
    color: #444;
}
